*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Lexend Deca', sans-serif;
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding: 0 10px;
}

.card-list {
  display: flex;
}

.card-list__card--first {
  background: hsl(31, 77%, 52%);
}

.card-list__card--second {
  background: hsl(184, 100%, 22%);
}

.card-list__card--third {
  background: hsl(179, 100%, 13%);
}

.card {
  width: 307px;
  padding: 45px;
}

.card__icon {
  margin-bottom: 40px;
}

.card__title {
  margin-bottom: 35px;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  text-transform: uppercase;
}

.card__description {
  margin-bottom: 85px;
  font-size: 15px;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
}

.card__btn {
  border: 2px solid hsl(0, 0%, 95%);
  padding: 15px 30px;
  border-radius: 30px;
  background: hsl(0, 0%, 95%);
}

.card__btn:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background: transparent;
}

.card__btn--first {
  color: hsl(31, 77%, 52%);
}

.card__btn--second {
  color: hsl(184, 100%, 22%);
}

.card__btn--third {
  color: hsl(179, 100%, 13%);
}

/* adaptive */

@media screen and (max-width: 950px) {
  .container {
    margin-top: 0;
  }

  .card-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0;
  }

  .card {
    width: 100%;
  }
} ;
